@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/**Reset all default values for these**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;
}

body {
    background-color: #379683;
}

header {
    background: #5CDB95;
    padding: 2%;
    width: 100%;
}

header > h1 {
    color: #05386b;
    text-align: center;
    font-size: 300%;
}

.score-board {
    margin: 2% auto;
    border: 3px solid #05386b;
    border-radius: 4px;
    text-align: center;
    width: 15%;
    padding: 1.5% 2%;
    color: #edf5e1;
    font-size: 200%;
    position: relative;
}

.label {
    background-color: #e2584d;
    color: #edf5e1;
    font-size: 75%;
    padding: 1% 2%;
}

#user-label {
    position: absolute;
    top: 30%;
    left: -12%;
}

#computer-label {
    position: absolute;
    top: 30%;
    right: -12%;
}

.result-notification > h2 {
    color: #edf5e1;
    font-size: 300%;
    text-align: center;
}

.user-input {
    text-align: center;
    margin-top: 3%;
}

.choices {
    height: 174px;
    width: 174px;
/**Add transition timer animation to the pseudo hover function**/
    transition: transform .2s;
    margin: 0 2%;
    display: inline-block;
    columns: 5;
/* check grid or flex  display option */
}

/**Actions for user hover over image**/
.choices:hover {
    cursor: pointer;
/**Add zoom on hover**/
    transform: scale(1.1);
}

.responsive {
    max-width: 174px;
}

.action {
    color: #edf5e1;
    margin-top: 3%;
    font-size: 200%;
    text-align: center;
}

footer {
    color: #edf5e1;
    text-align: center;
    position: relative;
    bottom: 2%;
    width: auto;
}

#footer-heading {
    text-decoration-line: underline;
    padding-bottom: 1%;
    padding-top: 6%;
}

@media screen and (max-width: 1200px) {
    .score-board {
        width: 175px;
        height: 75px;
        padding: auto;
    }
}

@media screen and (max-width: 450px) {
    header > h1 {
        font-size: 150%;
    }
    footer {
        font-size: 75%;
    }
    .result-notification > h2 {
        font-size: 150%;
    }
    .score-board {
        padding: 3% 2%;
    }
    .action {
        font-size: 100%;
    }
    .choices {
        width: 100px;
        height: 100px;
        padding: 0;
    }
    .responsive {
        max-width: 100px;
    }
}