@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/**Reset all default values for these**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #379683;
}

header {
    background: #5CDB95;
    padding: 2%;
}

header > h1 {
    color: #05386b;
    text-align: center;
    font-family: 'Share Tech', sans-serif;
}

.score-board {
    margin: 2% auto;
    border: 3px solid #05386b;
    border-radius: 4px;
    text-align: center;
    width: 15%;
    padding: 1.5% 2%;
    color: #edf5e1;
    font-size: 200%;
    font-family: 'Share Tech', sans-serif;
}

.label {
    background-color: #e2584d;
    color: #edf5e1;
    font-size: 75%;
    padding: 1% 2%;
    font-family: 'Share Tech', sans-serif;
}